*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background-color: #2F4154;
}
img{
	object-fit: contain;
}

.dany_bot{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.f_l{
	display: flex;
	align-items: center;
	justify-content: center;
}
.Dan{
	right: 200%;
	color: antiquewhite;
	font-size: 100px;
	position: relative;
	border-radius: 5px;
	animation-name: Dana;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}
.Bot{
	left: 200%;
	margin-left: 25px;
	color: antiquewhite;
	font-size: 100px;
	position: relative;
	border-radius: 5px;
	animation-name: Dana_bot;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

.und{
	visibility: hidden;
	bottom: 70px;
	margin-left: 30px;
	color: antiquewhite;
	font-size: 50px;
	position: relative;
	border-radius: 5px;
	animation-name: und;
	animation-duration: 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}

.sl{
	top: 120%;
	color: antiquewhite;
	font-size: 100px;
	position: relative;
	border-radius: 5px;
	animation-name: sl;
	animation-duration: 1s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}


@keyframes Dana{
	0%{
		right: 200%;
	}
	100%{
		right: 0;
	}
}
@keyframes Dana_bot{
	0%{
		left: 200%;
	}
	100%{
		left: 0;
	}
}
@keyframes und{
	0%{
		visibility: visible;
		bottom: 70px;
	}
	100%{
		visibility: visible;
		bottom: 0;
	}
}
@keyframes sl{
	0%{
		top: 120%;
	}
	100%{
		top: 0;
	}
}
